body{
    background-color: rgba(135, 57, 33, 0.903);
    color: rgb(221, 140, 0);
    text-align: center;
    font-size: 2.25rem;
}

a:hover{
    background-color: orange;
    color: rgb(234, 255, 0);
}

input{
    font-size: 1.75rem;
    background-color: rgb(98, 39, 0);
}

button{
    font-size: 1.76rem;
}